<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
  <title>Dashboard</title>
</head>

<body>

	<div class="container">

	<% include ../views/partials/header %>

	</div>

	<div class="center-align">by: hdpl</div>

	<!-- <script src="../controllers/ctrllerConvoke.js"></script> -->

	<% include ../views/partials/footer %>
          
</body>
</html>