<!DOCTYPE html>
<html ng-app="login">
<head>
	<meta charset="utf-8">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- ANGULAR -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <!--  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> // Using local sourcing -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Convoke CSS -->
  <link rel="stylesheet" type="text/css" href="css/login.css">

  <title>Convoke : Login</title>
	
</head>
<body ng-controller="loginCtrl">

<div class="container">

  <center>
    <img src="/img/convoke_v.png" class="responsive-img">
  </center>

  <div class="row area">

    <div class="col s12">
      
        <button class="waves-effect waves-light btn-large col s3 offset-s3" ng-click="showLogin()" ng-init="showForm=true">Login Convoke</button>
        <div class="col"></div>
        <button class="waves-effect waves-light btn-large col s3" ng-click="showRegister()">New User</button>
    </div>

    <div id="login" class="col s12" ng-show="showForm">
      <form class="col s12">
          <div class="input-field col s12 m8 l8 offset-m2 offset-l2">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate" ng-model="user" name="user">
            <label for="icon_prefix">User</label>
          </div>
          <div class="input-field col s12 m8 l8 offset-m2 offset-l2">
            <i class="material-icons prefix">fingerprint</i>
            <input id="icon_telephone" type="password" class="validate" ng-model="userPwd" name="password">
            <label for="icon_telephone">Password</label>
          </div>

          <div class="input-field col s12 m8 l8 offset-m2 offset-l2">
            <button class="waves-effect waves-light btn-large col s4 offset-s4" ng-click="starSession(user, userPwd)">Enter</button>
          </div>
      </form>
    </div>

    <div id="signup" class="col s12" ng-show="!showForm">
      <form class="col s12" name="newConvoker">
          <div class="input-field col s12 m8 l8 offset-m2 offset-l2">
            <i class="material-icons prefix">sentiment_very_satisfied</i>
            <input id="name" type="text" class="validate" ng-model="nickName">
            <label for="name" data-error="Use your imagination" data-success="Nice nick Name...">Name / Nickname</label>
          </div>
          
          <div class="input-field col s12 m8 l8 offset-m2 offset-l2">
            <i class="material-icons prefix">mail</i>
            <input id="email" type="email" class="validate" ng-model="email">
            <label for="email" data-error="Check your e-mail" data-success="great contact!">E-mail</label>
          </div>

          <div class="input-field col s12 m8 l8 offset-m2 offset-l2">
            <i class="material-icons prefix">vpn_key</i>
            <input id="pwd" type="password" class="validate" ng-model="pwd">
            <label for="pwd" data-error="verify your password" data-success="Security Right!">Password</label>
          </div>

          <div class="input-field col s12 m8 l8 offset-m2 offset-l2">
            <button class="waves-effect waves-light btn-large col s4 offset-s4" ng-click="registerNewUser(nickName, email, pwd)">Join Us</button>
          </div>
      </form>
    </div>

  </div>


  <div class="center-align">by: hdpl</div>

</div>


  

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 

<!-- <script type="text/javascript" src="js/materialize.min.js"></script>  // Using local sourcing -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<!-- My Angular Login -->
<script src="controllers/ctrllerLogin.js"></script>
             

</body>
</html>