<!DOCTYPE html>
<html ng-app="newConvoke">
<head>
	<% include ../views/partials/head %>
  <title>Dashboard</title>
</head>

<body ng-controller="convokeCtrl" ng-Cloak>

	<div class="container">

	<% include ../views/partials/header %>

	<!-- <hr> -->
	<div class="flow-text right-align">User: Hernan Piña</div>

	<h1>New Convoke</h1>
 	
  </table>
            


	<div class="center-align"><p>by: hdpl</p></div>

	<script src="../controllers/ctrllerPrivateConvoke.js"></script>

	<% include ../views/partials/footer %>

	</div>
          
</body>
</html>